@import

    "../base/mixin",
    "../base/variable";

.ui-marginspace-t {
  margin-top: $wrap-margin;
  @media (max-width: 320px) {
      margin-top: $wrap-margin-s;
  }
}

.ui-marginspace-ts {
  margin-top: $wrap-margin-s;
}

.ui-marginspace-b {
  margin-bottom: $wrap-margin;
  @media (max-width: 320px) {
      margin-bottom: $wrap-margin-s;
  }
}